@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none;
}

.icon-actived {
  fill: #2af5ff;
}

.input-actived {
  caret-color: #2af5ff;
  border-radius: 40px;
  border: solid 2px #2af5ff;
  padding: 1rem;
}

.input-time {
  /* caret-shape: inherit; */
  font-family: "Chivo Mono";
  color: #faf6eb;
  font-weight: bold;
  font-size: 96px;
  outline: none;
  background: none;
  line-height: 1rem;
  width: 2ch;
  text-align: center;
  margin: 0;
  box-sizing: content-box;
}

.total-rounds {
  color: #2af5ff;
}

.light-mode {
  background-color: #faf6eb;
  color: #030712;

  header button svg,
  footer button svg,
  main > svg {
    fill: #030712;
  }

  .icon-actived {
    fill: #2af5ff;
  }

  .input-actived {
    caret-color: #030712;
    border-radius: 40px;
    border: solid 2px #030712;
    padding: 1rem;
  }

  .input-time {
    color: #030712;
  }

  .timer span {
    color: #030712;
  }

  .controls {
    color: #faf6eb;
  }
}

@media (max-width: 768px) {
  .input-time {
    font-size: 4.5rem;
    line-height: 1;
  }
}

/* Remove number arrows of browser */
.input-time::-webkit-outer-spin-button,
.input-time::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Apply */
@layer components {
  .btn-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
