@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.hide {
  display: none;
}

.icon-actived {
  fill: #63a375;
}

/* Apply */
@layer components {
  .btn-icon {
    background-color: transparent;
    border: none;
    cursor: pointer;
  }
}
